<!-- Temporaire, a fusionner avec show -->

<div class="container" id="moviesGallery">
	<!-- <div class="row" id="content"> -->
		<%= render partial: 'comments', collection: @comments %>
	<!-- </div> -->
</div>